@model CoAutoWeb.Models.UpdateEntregaViewModel

<h4>EntregaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto1" class="control-label"></label>
                @if (Model.Foto1 != null)
                {
                    var imagemSrc1 = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Foto1)}";
                    <img src="@imagemSrc1" alt="Minha Imagem" />
                }
                <input asp-for="FormFoto1" type="file" class="form-control" />
                <span asp-validation-for="FormFoto1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto2" class="control-label"></label>
                @if (Model.Foto2 != null)
                {
                    var imagemSrc2 = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Foto2)}";
                    <img src="@imagemSrc2" alt="Minha Imagem" />
                }
                <input asp-for="FormFoto2" type="file" class="form-control" />
                <span asp-validation-for="FormFoto2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto3" class="control-label"></label>
                @if (Model.Foto3 != null)
                {
                    var imagemSrc3 = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Foto3)}";
                    <img src="@imagemSrc3" alt="Minha Imagem" />
                }
                <input asp-for="FormFoto3" type="file" class="form-control" />
                <span asp-validation-for="FormFoto3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto4" class="control-label"></label>
                @if (Model.Foto4 != null)
                {
                    var imagemSrc4 = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Foto4)}";
                    <img src="@imagemSrc4" alt="Minha Imagem" />
                }
                <input asp-for="FormFoto4" type="file" class="form-control" />
                <span asp-validation-for="FormFoto4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto5" class="control-label"></label>
                @if (Model.Foto5 != null)
                {
                    var imagemSrc5 = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Foto5)}";
                    <img src="@imagemSrc5" alt="Minha Imagem" />
                }
                <input asp-for="FormFoto5" type="file" class="form-control" />
                <span asp-validation-for="FormFoto5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
