
@model CoAutoWeb.Models.PerfilViewModel;
<div class="mb-3">
<dl>
    <dt class="col-sm-3">Nome</dt>
        <input type="text" id="nomeUsuario" name="nomeUsuario" value="@Model.Nome" class="form-control" disabled readonly>
    <dt class="col-sm-3">Email</dt>
        <input class="form-control" value="@Model.Email" disabled readonly></input>
    <dt class="col-sm-3">CPF</dt>
        <input class="form-control" value="@Model.Cpf" disabled readonly></dd>
    <dt class="col-sm-3">CNH</dt>
        <input class="form-control" value="@Model.Cnh" disabled readonly></dd>
    <dt class="col-sm-3">Telefone</dt>
        <input class="form-control" value="@Model.Telefone" disabled readonly></dd>
    <dt class="col-sm-3">CEP</dt>
        <input class="form-control" value="@Model.Cep" disabled readonly></input>
    <dt class="col-sm-3">Cidade</dt>
        <input class="form-control" value="@Model.Cidade" disabled readonly></input>
    <dt class="col-sm-3">Estado</dt>
        <input class="form-control" value="@Model.Estado" disabled readonly></input>
    <dt class="col-sm-3">Bairro</dt>
        <input class="form-control" value="@Model.Bairro" disabled readonly></input>
    <dt class="col-sm-3">Rua</dt>
        <input class="form-control" value="@Model.Rua" disabled readonly></input>
    <dt class="col-sm-3">Número</dt>
        <input class="form-control" value="@Model.Numero" disabled readonly></input>
</dl>
</div>