@model CoAutoWeb.Models.PessoaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PessoaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotocnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotocnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotoperfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotoperfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaCorrente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaCorrente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chavepix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chavepix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAutorizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAutorizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autorizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autorizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBanco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBanco)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
