@model CoAutoWeb.Models.DevolucaoViewModel

<div>
    <h4>DevolucaoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataHora)
        </dd>
        <dt class="col-sm-2">
            @if (Model.Foto1 != null && !Model.Foto1.SequenceEqual(new byte[0]))
            {
                @Html.DisplayNameFor(model => model.Foto1)
            }
        </dt>
        <dd class="col-sm-10">
            @if (Model.Foto1 != null && !Model.Foto1.SequenceEqual(new byte[0]))
            {
                var imagemSrc1 = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Foto1)}";
                <img src="@imagemSrc1" alt="Minha Imagem" />
            }

        </dd>
        <dt class="col-sm-2">
            @if (Model.Foto2 != null && !Model.Foto2.SequenceEqual(new byte[0]))
            {
                @Html.DisplayNameFor(model => model.Foto2)
            }
        </dt>
        <dd class="col-sm-10">
            @if (Model.Foto2 != null && !Model.Foto2.SequenceEqual(new byte[0]))
            {
                var imagemSrc2 = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Foto2)}";
                <img src="@imagemSrc2" alt="Minha Imagem" />
            }

        </dd>
        <dt class="col-sm-2">
            @if (Model.Foto3 != null && !Model.Foto3.SequenceEqual(new byte[0]))
            {
                @Html.DisplayNameFor(model => model.Foto3)
            }
        </dt>
        <dd class="col-sm-10">
            @if (Model.Foto3 != null && !Model.Foto3.SequenceEqual(new byte[0]))
            {
                var imagemSrc3 = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Foto3)}";
                <img src="@imagemSrc3" alt="Minha Imagem" />
            }
        </dd>
        <dt class="col-sm-2">
            @if (Model.Foto4 != null && !Model.Foto4.SequenceEqual(new byte[0]))
            {
                @Html.DisplayNameFor(model => model.Foto4)
            }
        </dt>
        <dd class="col-sm-10">
            @if (Model.Foto4 != null && !Model.Foto4.SequenceEqual(new byte[0]))
            {
                var imagemSrc4 = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Foto4)}";
                <img src="@imagemSrc4" alt="Minha Imagem" />
            }
        </dd>
        <dt class="col-sm-2">
            @if (Model.Foto5 != null && !Model.Foto5.SequenceEqual(new byte[0]))
            {
                @Html.DisplayNameFor(model => model.Foto5)
            }
        </dt>
        <dd class="col-sm-10">
            @if (Model.Foto5 != null && !Model.Foto5.SequenceEqual(new byte[0]))
            {
                var imagemSrc5 = $"data:image/jpeg;base64,{Convert.ToBase64String(Model.Foto5)}";
                <img src="@imagemSrc5" alt="Minha Imagem" />
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
