@page
@model RegisterModel

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 style="color:dodgerblue">Crie uma nova conta</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Nome" class="form-control"  aria-required="true" />
                <label asp-for="Input.Nome"></label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Cpf" class="form-control"  aria-required="true" />
                <label asp-for="Input.Cpf"></label>
                <span asp-validation-for="Input.Cpf" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Telefone" class="form-control" aria-required="true" />
                <label asp-for="Input.Telefone"></label>
                <span asp-validation-for="Input.Telefone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Cnh" class="form-control"  aria-required="true" />
                <label asp-for="Input.Cnh"></label>
                <span asp-validation-for="Input.Cnh" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.DataNascimento" type="date" class="form-control" aria-required="true" />
                <label asp-for="Input.DataNascimento"></label>
                <span asp-validation-for="Input.DataNascimento" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Cep" class="form-control" aria-required="true" />
                <label asp-for="Input.Cep"></label>
                <span asp-validation-for="Input.Cep" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Estado" class="form-control" aria-required="true" />
                <label asp-for="Input.Estado"></label>
                <span asp-validation-for="Input.Estado" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Cidade" class="form-control"  aria-required="true" />
                <label asp-for="Input.Cidade"></label>
                <span asp-validation-for="Input.Cidade" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Bairro" class="form-control"  aria-required="true" />
                <label asp-for="Input.Bairro"></label>
                <span asp-validation-for="Input.Bairro" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Rua" class="form-control"  aria-required="true" />
                <label asp-for="Input.Rua"></label>
                <span asp-validation-for="Input.Rua" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Numero" class="form-control"  aria-required="true" />
                <label asp-for="Input.Numero"></label>
                <span asp-validation-for="Input.Numero" class="text-danger"></span>
            </div>
            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="border-radius:1rem">Registrar</button>
        </form>
        <br />
    </div>
   
    <div class="col-md-6 col-md-offset-2">
        <section>
      
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                   
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
